In [64]:
# SQLAlchemy
from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
import numpy as np
# Path to sqlite

Base = declarative_base()

In [31]:
netflixdf = pd.read_csv("netflix_titles.csv")
netflixdf = netflixdf.set_index('show_id')
del netflixdf['description']

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
show_id,,,,,,,,,,
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies"
80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy
70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV
80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies
...,...,...,...,...,...,...,...,...,...,...
80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies
80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies
70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas"
70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies"

In [39]:
bbDf = pd.read_csv("Blockbusters_2019-1977.csv")
bbDf = bbDf.set_index('film_title')
bbDf

,release_year,rank_in_year,imdb_rating,mpaa_rating,film_budget,length_in_min,domestic_distributor,worldwide_gross,domestic_gross,genre_1,genre_2,genre_3
film_title,,,,,,,,,,,,
Avengers: Endgame,2019,1,8.5,PG-13,"356,000,000",181,Walt Disney,"2,797,800,564","858,373,000",Action,Adventure,Drama
The Lion King,2019,2,7.0,PG,"260,000,000",118,Walt Disney,"1,656,943,394","543,638,043",Animation,Adventure,Drama
Frozen II,2019,3,7.2,PG,"150,000,000",103,Walt Disney,"1,420,560,456","470,089,732",Animation,Adventure,Comedy
Spider-Man: Far from Home,2019,4,7.6,PG-13,"160,000,000",129,Sony Pictures,"1,131,927,996","390,532,085",Action,Adventure,Sci-Fi
Captain Marvel,2019,5,6.9,PG-13,"175,000,000",123,Walt Disney,"1,128,274,794","426,829,839",Action,Adventure,Sci-Fi
...,...,...,...,...,...,...,...,...,...,...,...,...
The Deep,1977,6,6.2,PG,"9,000,000",123,Columbia Pictures,"47,346,365","47,346,365",Adventure,Mystery,Thriller
The Spy Who Loved Me,1977,7,7.1,PG,"14,000,000",125,United Artists,"46,838,673","46,838,673",Action,Adventure,Thriller
"Oh, God!",1977,8,6.6,PG,"2,100,000",98,Warner Bros.,"41,687,243","41,687,243",Comedy,Fantasy,NaN
Annie Hall,1977,9,8.0,PG,"4,000,000",93,United Artists,"38,251,425","38,251,425",Comedy,Romance,NaN
Semi-Tough,1977,10,5.9,R,"5,700,000",108,United Artists,"37,187,139","37,187,139",Comedy,Romance,Sport

In [66]:
oscarDf = pd.read_csv("the_oscar_award.csv")
oscarDf["ID"] = np.arange(oscarDf.shape[0])
oscarDf = oscarDf.set_index('ID')
oscarDf

,year_film,year_ceremony,ceremony,category,name,film,winner
ID,,,,,,,
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10390,2019,2020,92,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,2019,2020,92,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,2019,2020,92,HONORARY AWARD,David Lynch,NaN,True
10393,2019,2020,92,HONORARY AWARD,Wes Studi,NaN,True
10394,2019,2020,92,HONORARY AWARD,Lina Wertmüller,NaN,True

In [34]:
class netflix(Base):
    __tablename__ = "netflix"
    show_id = Column(Integer, primary_key = True)
    type = Column(String(255))
    title = Column(String(255))
    director = Column(String(255))
    cast = Column(String(255))
    country = Column(String(255))
    date_added = Column(Date)
    release_year = Column(Integer)
    rating = Column(String(255))
    duration = Column(String(255))
    listed_in = Column(String(255))

InvalidRequestError: Table 'netflix' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [48]:
class blockbuster(Base):
    __tablename__="blockbusters"
    release_year= Column(Integer)
    rank_in_year = Column(Integer)
    imdb_rating=Column(Integer)
    mpaa_rating=Column(String(255))
    film_title=Column(String(255), primary_key=True)
    film_budget=Column(String(255))
    length_in_min=Column(Integer)
    domestic_distributor=Column(String(255))
    worldwide_gross=Column(String(255))
    domestic_gross=Column(String(255))
    genre_1=Column(String(255))
    genre_2=Column(String(255))
    genre_3=Column(String(255))

C:\Users\micky\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:125: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.blockbuster, and will be replaced in the string-lookup table.
  util.warn(

InvalidRequestError: Table 'blockbusters' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [70]:
class oscars(Base):
    __tablename__ = "oscars"
    ID = Column(Integer, primary_key = True)
    year_film = Column(Integer)
    year_ceremony = Column(Integer)
    ceremony = Column(Integer)
    category = Column(String(255))
    name = Column(String(255))
    film = Column(String(255))
    winner = Column(String(255))

InvalidRequestError: Table 'oscars' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [44]:
database_path = "postgresql://postgres:postgres@localhost:5432/ETL"
engine = create_engine(database_path)
conn = engine.connect()

In [45]:
Base.metadata.create_all(engine)

In [46]:
from sqlalchemy.orm import Session
session = Session(bind = engine)

In [71]:
netflixdf.to_sql('netflix', con=engine, if_exists = 'append')
bbDf.to_sql('blockbusters', con=engine, if_exists = 'append')
oscarDf.to_sql('oscars', con=engine, if_exists = 'append')